<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <link
         rel="shortcut icon"
         href="{{ url_for('static', filename = 'img/logomin.png') }}"
         type="image/x-icon"
         />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!-- Primary Meta Tags -->
      <title>Data in News</title>
      <meta name="title" content="Data in News">
      <meta name="description" content="How journalists use data in their reporting or in their writing can be viewed as a reflection of the country’s demand for statistics and data. Via this portal, we present a proxy indicator for statistical literacy.">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://datainnews.herokuapp.com/">
      <meta property="og:title" content="Data in News">
      <meta property="og:description" content="How journalists use data in their reporting or in their writing can be viewed as a reflection of the country’s demand for statistics and data. Via this portal, we present a proxy indicator for statistical literacy.">
      <meta property="og:image" content="{{ url_for('static', filename = 'img/showcase.png') }}">

      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://datainnews.herokuapp.com/">
      <meta property="twitter:title" content="Data in News">
      <meta property="twitter:description" content="How journalists use data in their reporting or in their writing can be viewed as a reflection of the country’s demand for statistics and data. Via this portal, we present a proxy indicator for statistical literacy.">
      <meta property="twitter:image" content="{{ url_for('static', filename = 'img/showcase.png') }}">

      <meta
         property="og:description"
         content="Statistical literacy index based on national newspaper archives"
         />
      <meta
         property="og:image"
         content="{{ url_for('static', filename = 'img/chart.PNG') }}"
         />

      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'css/bulma.css') }}"
         />

      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'css/divider.css') }}"
         />
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename = 'css/tabs.css') }}"
         />
      <link rel="stylesheet" 
         type="text/css" 
         href="{{ url_for('static', filename='css/table.css') }}">
         
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/data.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/modules/accessibility.js"></script>
      <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script
         src="https://kit.fontawesome.com/7dc3015a44.js"
         crossorigin="anonymous"
         ></script>
   </head>
   <body class="bg-img">
      <nav class="navbar is-primary">
         <div class="navbar-brand">
            <a class="navbar-item" href="/">
               <p class="title is-5 has-text-white is-spaced">
                  Data in NEWS
                  <sup class="title is-6 has-text-danger">(BETA)</sup>
               </p>
            </a>
         </div>
      </nav>
      <section class="hero is-primary">
         <div class="tabs is-boxed is-centered main-menu" id="nav">
            <ul>
               <li data-target="pane-1" id="1" class="is-active">
                  <a>
                  <span class="icon is-small"><i class="fa fa-info"></i></span>
                  <span>About</span>
                  </a>
               </li>
               <li data-target="pane-2" id="2">
                  <a>
                  <span class="icon is-small"
                     ><i class="far fa-chart-bar"></i
                     ></span>
                  <span>Level 1 Results</span>
                  </a>
               </li>
               <li data-target="pane-3" id="3">
                  <a>
                  <span class="icon is-small"
                     ><i class="fab far fa-chart-bar"></i
                     ></span>
                  <span>Level 2 Results</span>
                  </a>
               </li>
               <li data-target="pane-4" id="4">
                  <a>
                  <span class="icon is-small"
                     ><i class="far fa-chart-bar"></i
                     ></span>
                  <span>Level 3 Results</span>
                  </a>
               </li>

            </ul>
         </div>
      </section>

      <div class="container">
         <div class="tab-content">
            <div class="tab-pane is-active" id="pane-1">
               <div class="content">
                  <div class="card">
                     <div class="card-content">

                        <div class="content">
                           <h2 class="has-text-primary">Data in NEWS</h2>
                           <p>
                              How journalists use data in their reporting or in their writing
                              can be viewed as a reflection of the country’s demand for
                              statistics and data. The World Bank team developed an indicator
                              model to assess the use of data by Nepali news portals based on
                              the methodology proposed by Klein, Galdin, and Mohamedou 2016. As
                              of <strong>{{max_date}}</strong>, the results show that very few news articles
                              indicate the source of data or mention development indicators.
                              However, articles that discuss data, reports, research,
                              statistics, and related topics do critically engage with these
                              ideas.
                              <br /><br />
                              <strong>{{total_articles}} articles </strong> were
                              analyzed to assess the use of data in media.
                              In the <a href="http://datainnews.us-west-1.elasticbeanstalk.com/" target="_blank">previous implementation</a> of this project, 
                              the source of data was RSS feeds from Nepali news portal. 
                              Unfortunately, due to most of the Nepali news portals deprecating their RSS feature, 
                              for this implementation, the news articles are scraped from article URLs posted by the official news portal's account on twitter. 
                              The news portals that use twitter to post articles regularly are
                              are <strong>The Himalayan Times, Onlinekhabar, The Nepali
                              Times, Republica Nepal, and The Kathmandu Post.</strong>
                           </p>
                           <h3 class="has-text-primary">Data Collection Timeline</h3>
                           <div id="div0"></div>
                           <h3 class="has-text-primary">Level 1 Analysis</h3>
                           <p>
                              The team analyzed whether articles indicated the presence of a
                              data source, a statistical/development indicator, or keywords from
                              papers on statistical capacity–building projects. As of <strong>{{max_date}}</strong>, the share of news articles that included at least
                              one keyword that indicated “consistent non-critical” use of data
                              averaged {{level_1_average}} percent (scores ranged from {{level_1_min}}  percent to {{level_1_max}}  percent).
                           </p>
                           <p>
                              The
                              <a
                                 href="https://iase-web.org/documents/papers/rt2016/Klein.pdf"
                                 target="_blank"
                                 >paper</a
                                 >
                              by Klein, Galdin, and Mohamedou describes "Consistent
                              Non-critical" (Level 1) as "Appropriate but non-critical
                              engagement with context, multiple aspects of terminology usage"
                           </p>
                           <h6 class="has-text-primary">Level 1 Keywords</h6>
                           <script src="https://gist.github.com/datafornepal/051801fa9c02ddf32aa01a28174862b5.js"></script>
                           <h3 class="has-text-primary">Level 2 Analysis</h3>
                           <p>
                              This level of analysis assessed whether an article critically
                              engaged with topics of data or statistics or made arguments by
                              using mathematical concepts. As of <strong>{{max_date}}</strong>, {{filtered_articles}}
                              percent of the articles directly referenced data, records,
                              research, statistics, or studies. 
                           </p>
                           <h6 class="has-text-primary">Filtered Articles</h6>
                           <div id="pie"></div>
                           <br>
                           <p>
                              The
                              <a
                                 href="https://iase-web.org/documents/papers/rt2016/Klein.pdf"
                                 target="_blank"
                                 >paper</a
                                 >
                              by Klein, Galdin, and Mohamedou describes "Critical" (Level 2) as
                              "Critical, questioning engagement in contexts that do not involve
                              proportional reasoning, but which do involve appropriate use of
                              terminology."
                           </p>
                           
                           <h6 class="has-text-primary">Level 2 Keywords</h6>
                           <script src="https://gist.github.com/datafornepal/4f0b35c597c377630e68dfbd820e7cff.js"></script>
                           <h3 class="has-text-primary">Level 3 Analysis</h3>
                           <p>
                              “Critical mathematical” use of data occurs when an article
                              indicates questioning or interpreting of data and statistics. As
                              of <strong>{{max_date}}</strong>, only a handful of articles met this criterion.
                           </p>
                           <p>
                              The
                              <a
                                 href="https://iase-web.org/documents/papers/rt2016/Klein.pdf"
                                 target="_blank"
                                 >paper </a
                                 >by Klein, Galdin, and Mohamedou describes "Critical Mathematical"
                              (Level 3) as "Critical, questioning engagement with context, using
                              proportional reasoning particularly in chance contexts, showing
                              appreciation of the need for uncertainty in making predictions,
                              and interpreting subtle aspects of language."
                           </p>
                           <h6 class="has-text-primary">Level 3 Keywords</h6>
                           <script src="https://gist.github.com/datafornepal/582c3c77566f92d4c03fb755a76edea6.js"></script>
                           <br><br>
                           <div>
                              <div class="divider is-primary">Report</div>
                           </div>
                           <div class="columns">
                              <div class="column is-one-quarter">
                                 <figure class="image">
                                    <img src="{{ url_for('static', filename = 'img/paper.png') }}">
                                  </figure>
                              </div>
                              <div class="column">
                                 The contents of this portal partly facilitates the reseach of "Use of Data in the Private Sector of Nepal : The Current State and Opportunities in Finance, Education, and the Media" 
                                 <br>
                                 <br>
                                 <strong>Citation</strong>
                                 Kumar,Ravi; Leslie,Joshua Shumshere; Maharjan,Liza; Subedi,Ayush.2020.<br><br>

                                 <i>Use of Data in the Private Sector of Nepal : The Current State and Opportunities in Finance, Education, and the Media (English)</i>. Washington, D.C. : World Bank Group. http://documents.worldbank.org/curated/en/805261601023506163/Use-of-Data-in-the-Private-Sector-of-Nepal-The-Current-State-and-Opportunities-in-Finance-Education-and-the-Media
                                 <br><br>
                                 <a href="https://documents.worldbank.org/en/publication/documents-reports/documentdetail/805261601023506163/use-of-data-in-the-private-sector-of-nepal-the-current-state-and-opportunities-in-finance-education-and-the-media" target="_blank"><button class="button is-success is-rounded">Link to Paper</button></a>
                              </div>
                           </div>

                        
                           </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="pane-2">
               <div class="content">
                  <div class="card">
                     <div class="card-content">
                        <div class="content">
                           <h2 class="has-text-primary">Level 1 Results</h2>
                           <div>
                              <div class="divider is-primary">Level 1 Progress</div>
                           </div>
                           <div id="div7"></div>
                           <div>
                              <div class="divider is-primary">Newspaper Breakdown</div>
                           </div>
                           <div class="columns">
                              <div class="column">
                                 <div id="div1"></div>
                              </div>
                              <div class="column">
                                 <div id="div2"></div>
                              </div>
                           </div>
                           <div>
                              <div class="divider is-primary">Table</div>
                           </div>
                           <div class="card">
                              <div class="card-content">
                                 <div class="content">
                                    <div class="b-table">
                                       <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth is-hoverable">
                                       <thead>
                                          <tr>
                                             {% for c in column_names_level1 %}
                                             <th>
                                                {{c}}
                                             </th>
                                             {% endfor %}
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for row in row_data_level1 %}
                                          
                                          <tr>
                                             <td data-label="Newspaper"> {{ row[0] }} </td>
                                             <td data-label="News Articles"> {{ row[1] }} </td>
                                             <td data-label="Level 1"> {{ row[2] }} </td>
                                             <td data-label="Level 1 %"> {{ row[3] }} </td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                    </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="pane-3">
               <div class="content">
                  <div class="card">
                     <div class="card-content">
                        <div class="content">
                           <h2 class="has-text-primary">Level 2 Results</h2>
                           <div>
                              <div class="divider is-primary">Level 2 Progress</div>
                           </div>
                           <div id="div8"></div>
                           <div>
                              <div class="divider is-primary">Newspaper Breakdown</div>
                           </div>
                           <div class="columns">
                              <div class="column">
                                 <div id="div3"></div>
                              </div>
                              <div class="column">
                                 <div id="div4"></div>
                              </div>
                           </div>
                           <div>
                              <div class="divider is-primary">Table</div>
                           </div>
                           <div class="card">
                              <div class="card-content">
                                 <div class="content">
                                    <div class="b-table">
                                       <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth is-hoverable">
                                       <thead>
                                          <tr>
                                             {% for c in column_names_level2 %}
                                             <th>
                                                {{c}}
                                             </th>
                                             {% endfor %}
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for row in row_data_level2 %}
                                          <tr>
                                             
                                                <td data-label="Newspaper"> {{ row[0] }} </td>
                                                <td data-label="News Articles"> {{ row[1] }} </td>
                                                <td data-label="Filtered Articles"> {{ row[2] }} </td>
                                                <td data-label="Level 2"> {{ row[3] }} </td>
                                                <td data-label="Level 2 %"> {{ row[4] }} </td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                    </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="pane-4">
               <div class="content">
                  <div class="card">
                     <div class="card-content">
                        <div class="content">
                           <h2 class="has-text-primary">Level 3 Results</h2>
                           <div>
                              <div class="divider is-primary">Level 3 Progress</div>
                           </div>
                           <div id="div9"></div>
                           <div>
                              <div class="divider is-primary">Newspaper Breakdown</div>
                           </div>
                           <div class="columns">
                              <div class="column">
                                 <div id="div5"></div>
                              </div>
                              <div class="column">
                                 <div id="div6"></div>
                              </div>
                           </div>
                           <div>
                              <div class="divider is-primary">Table</div>
                           </div>
                           <div class="card">
                              <div class="card-content">
                                 <div class="content">
                                    <div class="b-table">
                                       <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth is-hoverable">
                                       <thead>
                                          <tr>
                                             {% for c in column_names_level3 %}
                                             <th>
                                                {{c}}
                                             </th>
                                             {% endfor %}
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for row in row_data_level3 %}
                                          <tr>
                                             
                                             <td data-label="Newspaper"> {{ row[0] }} </td>
                                             <td data-label="News Articles"> {{ row[1] }} </td>
                                             <td data-label="Filtered Articles"> {{ row[2] }} </td>
                                             <td data-label="Level 3"> {{ row[3] }} </td>
                                             <td data-label="Level 3 %"> {{ row[4] }} </td>
                                       </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                    </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
      <br /><br />
      <footer class="footer">
         <div class="columns">
            <div class="column is-three-fifths">
               <p class="is-6 has-text-white">
                  <a href="https://twitter.com/ravinepal" target="_blank"
                     >Ravi Kumar</a
                     >
                  provided overall guidance to develop this indicator
                  <a
                     target="_blank"
                     href="https://iase-web.org/documents/papers/rt2016/Klein.pdf"
                     >model</a
                     >
                  which is based on the methodology proposed by Klein, Galdin, and
                  Mohamedou 2016. The model is developed by
                  <a href="https://github.com/ayushsubedi/" target="_blank"
                     >Ayush Subedi</a
                     >
                  with the support from
                  <a
                     href="https://www.worldbank.org/en/data/statistical-capacity-building/trust-fund-for-statistical-capacity-building"
                     target="_blank"
                     >
                  Trust Fund for 'Statistical Capacity Building'</a
                     >, a global grant facility, administered by the Development Data
                  Group of the World Bank.
               </p>
               <br />
               <p class="is-6 has-text-white">
                  This portal was initiated to assess the use of data in media in
                  Nepal to provide an input to an Exploratory Assessment of the use of
                  data, a publication (work in progress) under the Partnership for
                  Knowledge-Based Poverty Reduction and Shared Prosperity, a World
                  Bank project with support from the UK Department of International
                  Development to increase the production and usage of data and
                  statistics in Nepal.
               </p>
            </div>
            <div class="column"></div>
            <div class="column">
               <ul>
                  <li>
                     <a href="/">
                     <i class="fas fa-home fa-fw mr-3 has-text-white"></i
                        ><span class="has-text-white">&nbsp;&nbsp;Home</span>
                     </a>
                  </li>
                  <li>
                     <a
                        target="_blank"
                        href="https://iase-web.org/documents/papers/rt2016/Klein.pdf"
                        >
                     <i class="fas fa-paperclip fa-fw mr-3 has-text-white"></i
                        ><span class="has-text-white">&nbsp;&nbsp;Research Paper</span>
                     </a>
                  </li>
                  <li>
                     <a
                        target="_blank"
                        href="https://github.com/datafornepal/newspaper_analysis"
                        >
                     <i class="fab fa-github-alt fa-fw mr-3 has-text-white"></i
                        ><span class="has-text-white">&nbsp;&nbsp;Github</span>
                     </a>
                  </li>
               </ul>
               <br />
               <br />
               <span class="icon">
               <i class="fab fa-creative-commons has-text-grey-light fa-2x"></i>
               </span>
               <span>&nbsp;</span>
               <span class="icon">
               <i class="fab fa-creative-commons-by has-text-grey-light fa-2x"></i>
               </span>
               <a
                  href="https://creativecommons.org/licenses/by/4.0/"
                  target="_blank"
                  >
                  <p class="is-6 has-text-grey-light">
                     Licensed under a Creative Commons <br />Attribution-ShareAlike 4.0
                     International License.
                  </p>
               </a>
            </div>
         </div>
      </footer>
      <script src="{{ url_for('static', filename = 'js/tabs.js') }}"></script>
      <script>
         Highcharts.chart("div1", {
           chart: {
             type: 'column',
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           legend:{
             align: 'left',
             verticalAlign: 'top',
           },
           title: {
             text: "",
           },
         
           xAxis: {
             categories: {{newspapers|safe}},
             crosshair: true,
           },
           credits: {
             enabled: false
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           yAxis: {
             min: 0,
             title: {
               text: "Number of Articles",
             },
           },
           tooltip: {
             headerFormat:
               '<span style="font-size:10px">{point.key}</span><table>',
             pointFormat:
               '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
               '<td style="padding:0"><b>{point.y}</b></td></tr>',
             footerFormat: "</table>",
             shared: true,
             useHTML: true,
           },
           plotOptions: {
             column: {
               pointPadding: 0.2,
               borderWidth: 0,
             },
           },
           series: {{chart1|safe}}
         });
      </script>
      <script>
         Highcharts.chart('div2', {
           chart: {
             type: 'column',
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
         
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           tooltip: {
                 pointFormat: '<b>Percentage: {point.y:.1f}%</b>'
               },
           xAxis: {
             categories: {{newspapers|safe}},
             crosshair:true
           },
           yAxis: {
             min: 0,
             max:100,
             title: {
               text: '% of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
                   exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           series:[{
             name:'',
             data: {{ chart2| safe}},
             showInLegend: false
           }]
         });
      </script>
      <script>
         Highcharts.chart("div3", {
           chart: {
             type: "column",
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           title: {
             text: "",
           },
         
           legend:{
             align: 'left',
             verticalAlign: 'top',
           },
         
           xAxis: {
             categories: {{newspapers|safe}},
             crosshair: true,
           },
           credits: {
             enabled: false
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           yAxis: {
             min: 0,
             title: {
               text: "Number of Articles",
             },
           },
           tooltip: {
             headerFormat:
               '<span style="font-size:10px">{point.key}</span><table>',
             pointFormat:
               '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
               '<td style="padding:0"><b>{point.y}</b></td></tr>',
             footerFormat: "</table>",
             shared: true,
             useHTML: true,
           },
           plotOptions: {
             column: {
               pointPadding: 0.2,
               borderWidth: 0,
             },
           },
           series: {{chart3|safe}}
         });
      </script>
      <script>
         Highcharts.chart('div4', {
           chart: {
             type: 'column',
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           tooltip: {
                 pointFormat: '<b>Percentage: {point.y:.1f}%</b>'
               },
           xAxis: {
             categories: {{newspapers|safe}},
             crosshair:true
           },
           yAxis: {
             min: 0,
             max:100,
             title: {
               text: '% of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
                   exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           series:[{
             name:'',
             data: {{ chart4| safe}},
             showInLegend: false
           }]
         });
      </script>
      <script>
         Highcharts.chart("div5", {
           chart: {
             type: "column",
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           title: {
             text: "",
           },
         
           legend:{
             align: 'left',
             verticalAlign: 'top',
           },
         
           xAxis: {
             categories: {{newspapers|safe}},
             crosshair: true,
           },
           credits: {
             enabled: false
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           yAxis: {
             min: 0,
             title: {
               text: "Number of Articles",
             },
           },
           tooltip: {
             headerFormat:
               '<span style="font-size:10px">{point.key}</span><table>',
             pointFormat:
               '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
               '<td style="padding:0"><b>{point.y}</b></td></tr>',
             footerFormat: "</table>",
             shared: true,
             useHTML: true,
           },
           plotOptions: {
             column: {
               pointPadding: 0.2,
               borderWidth: 0,
             },
           },
           series: {{chart5|safe}}
         });
      </script>
      <script>
         Highcharts.chart('div6', {
           chart: {
            type: 'column',
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           tooltip: {
                 pointFormat: '<b>Percentage: {point.y:.1f}%</b>'
               },
           xAxis: {
             categories: {{newspapers|safe}},
             crosshair:true
           },
           yAxis: {
             min: 0,
             max:100,
             title: {
               text: '% of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
           series:[{
             name:'',
             data: {{ chart6| safe}},
             showInLegend: false
           }]
         });
      </script>
      <script>
         Highcharts.setOptions({
    lang: {
    thousandsSep: ""
  }
})
         Highcharts.chart('div0', {
           chart: {
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           legend: {
         enabled: false
         },
         tooltip: {
                 pointFormat: '<b>Articles Collected: {point.y}</b>'
               },
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           yAxis: {
            min: 10,
             title: {
               text: 'Number of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
           xAxis: {
         categories: {{chart0_x | safe}},
         labels: {
         rotation: 90
         }
         },
         
         series: [{
         data: {{chart0_y}}    
         }]
         });
      </script>
      <script>
         Highcharts.chart('div7', {
           chart: {
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           legend: {
         enabled: false
         },
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           tooltip: {
                 pointFormat: '<b>Percentage: {point.y:.1f}%</b>'
               },
           yAxis: {
             min: 0,
             max:100,
             title: {
               text: '% of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
           xAxis: {
         categories: {{chart0_x | safe}},
         labels: {
         rotation: 90
         }
         },
         
         series: [{
         data: {{chart1_y}}    
         }]
         });
      </script>
      <script>
         Highcharts.chart('div8', {
           chart: {
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           legend: {
         enabled: false
         },
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           tooltip: {
                 pointFormat: '<b>Percentage: {point.y:.1f}%</b>'
               },
           yAxis: {
             min: 0,
             max:100,
             title: {
               text: '% of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
           xAxis: {
         categories: {{chart0_x | safe}},
         labels: {
         rotation: 90
         }
         },
         
         series: [{
         data: {{chart2_y}}    
         }]
         });
      </script>
      <script>
         Highcharts.chart('div9', {
           chart: {
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
           },
           legend: {
         enabled: false
         },
           title: {
             text: ''
           },
           plotOptions: {
             column:{
               borderWidth:0,
               groupPadding:0,
               shadow:false
             },
           },
           exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
           tooltip: {
                 pointFormat: '<b>Percentage: {point.y:.1f}%</b>'
               },
           yAxis: {
             min: 0,
             max:100,
             title: {
               text: '% of Articles',
             },
         
           },
           credits: {
             enabled: false
           },
           xAxis: {
         categories: {{chart0_x | safe}},
         labels: {
         rotation: 90
         }
         },
         
         series: [{
         data: {{chart3_y}}    
         }]
         });
      </script>
      <script>
         Highcharts.chart('pie', {
            chart: {
             backgroundColor: 'transparent',
             spacingBottom: 50,
             spacingTop: 50,
             spacingLeft: 50,
             spacingRight: 50,
             borderWidth: 2,
             borderColor: "#4a4a4a11",
             type:'pie'
           },
  title: {
    text: ''
  },
  exporting: {
             buttons: {
             contextButton: {
               menuItems: ['downloadPNG', 'downloadSVG']
             }
             }
           },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  accessibility: {
    point: {
      valueSuffix: '%'
    }
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Articles filtered (Level 2 and Level 3)',
      y: {{pie_filtered_articles}},
      sliced: true,
      selected: true
    }, {
      name: 'Ignored Articles',
      y: {{pie_non_filtered_articles}}
    }]
  }]
});
      </script>
   </body>
</html>